body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-color: #AAAAAA;
    width: 100%;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 30px;
}

#foto{
    margin: 20px auto;
    width: 600px;
    height: 400px;
}

#text{
    width: 60%;
    text-align: center;
}
